<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='users_list.css')}}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/user-form">Add User</a>
    </nav>

    <h1>All users</h1>
    <table border="5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td><a href="{{ url_for('Update_user_form', id=user.id)}}">Update</a></td>
                <td><a href="{{ url_for('delete_user', id=user.id)}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>