<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user_form.css')}}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/user-form">Add User</a>
    </nav>
    <br><br>
    <form action="/add_user" method="post">
        <input type="text" name="username" placeholder="Enter Username">
        <input type="text" name="name" placeholder="Enter Name">
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>